@CHARSET "ISO-8859-1";

.letrasTopo {
	font-weight: normal;
	font-size: 8pt;
	font-style: italic;
	font-family: Verdana;
	white-space: nowrap;
}

.letrasDefault {
	font-weight: normal;
	font-size: 11pt;
	font-style: bold;
	font-family: Verdana;
	white-space: nowrap;
}

.letras {
	font-weight: normal;
	font-size: 13pt;
	font-style: bold;
	font-family: Verdana;
	white-space: nowrap;
	color: blue;
}

.letrasTitulo {
	font-weight: normal;
	font-size: 13pt;
	font-style: bold;
	font-family: Verdana;
	white-space: nowrap;
	color: green;
}

.letrasAba {
	font-weight: normal;
	font-size: 14pt;
	font-style: oblique;
	font-family: sans-serif;
	white-space: normal;
	color: black;
}

.letrasAbaB {
	font-weight: bold;
	font-size: 12pt;
	font-family: serif;
	white-space: normal;
	color: black;
}

.letrasToolTip {
	font-weight: lighter;
	font-size: 12pt;
	font-style: italic;
	font-family: cursive;
	color: black;
}

.letrasInfo {
	font-weight: normal;
	font-size: 12pt;
	font-style: bold;
	font-family: sans-serif;
	white-space: nowrap;
	color: green;
}

.barraPesquisa {
	height: 35px;
	width: 450px;
}

.barraDefault {
	height: 20px;
}

.carInformation {
	font-weight: normal;
	font-size: 17pt;
	font-style: italic;
	font-family: Verdana;
	letter-spacing: normal;
	color: darkblue;
}

.botaoDefault {
	height: 35px;
	width: 170px;
}

.Logo {
	background-position: left;
	background-image: url("../images/logo.png");
	margin-top: 1px;
	width: 250%;
	background-repeat: no-repeat;
	height: 77px;
}
.camposObr {
	font-weight: bold;
	font-size: 9pt;
	font-stretch: semi-condensed;
	font-family: Verdana;
	white-space: nowrap;
	color: red;
}