@CHARSET "ISO-8859-1";

.letrasTopo{
	font-weight: normal;
	font-size: 8pt;
	font-style: italic;
	font-family: Verdana;
	white-space: nowrap;
}
.letrasDefault
{
	font-weight: normal;
	font-size: 11pt;
	font-style: bold;
	font-family: Verdana;
	white-space: nowrap;
}
.informacoesTopo
{
	margin-top: 1px;
	margin-left: 550px;
}
.barraPesquisa{
	height: 35px;
	width: 500px;
	font-weight: normal;
	font-size: 12pt;
	font-style: bold;
	font-family: Verdana;
	white-space: nowrap;
}
.botaoDefault{
	
}
.separadorMenu
{
	background-image: url("../images/separadorMenu.png");
	background-repeat: no-repeat;
	height: 30px;
}
.Logo
{
	background-position: left;
	background-image: url("../images/logo.png");
	width: 250%;
	background-repeat: no-repeat;
	height: 77px;
}